.bgcolor-primary {
	background-color: #B9929F;
}


.bgcolor-secondary {
	background-color: #E2C2C6;
}

.profile-pic {
	width: 50px;
	height: 50px;
}

.step-image {
	width: 300px;
	height: 300px;
}

.clickable {
	cursor: pointer;
}