.bgcolor-primary {
	background-color: #B9929F;
}


.bgcolor-secondary {
	background-color: #E2C2C6;
}

.profile-pic {
	width: 50px;
	height: 50px;
}

.step-image {
	width: 300px;
	height: 300px;
}

.clickable {
	cursor: pointer;
}

#container{
	display: -webkit-flex;
    display: flex;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 15px;
    padding: 2px;
}

#titleAndSubtitle{
	position: relative;
    -webkit-flex: 1;
    flex: 1;
    border-radius: 15px;
    margin: 5px;
}

#imgVariasRecetas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	height: 60%;
}

#footerId{
	text-align: center;
}